<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, id?</p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, repellat
        id. Modi consequatur impedit nemo, possimus, quia neque quaerat nisi
        cumque nostrum dignissimos facilis quisquam commodi deleniti dolor.
        Natus, dolorem!
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      veritatis sint cupiditate modi porro amet a nisi harum deserunt, vero
      assumenda officiis obcaecati repudiandae numquam magni corrupti distinctio
      quam voluptate, laborum ipsa quisquam id officia unde? Dolorem, quo. Vitae
      optio ad cupiditate libero impedit, consectetur saepe molestiae excepturi
      ut a.
    </p>
  </div>
</section>
