<div class="callout callout--primary">
  <div class="grid grid--cols-2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum ea quae
        doloremque fuga odio ratione neque. Molestiae deleniti libero autem
        officiis illo. Ullam excepturi porro, doloremque tempora rerum quo
        velit!
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--streched">Get Started</a>
  </div>
</div>
